body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(39.97deg, #334a4a 0.79%, #26c1a2 79.79%);
  color: black;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.section-container {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* For the small width screens */
@media only screen and (max-width: 640px) {
  .section-container {
      padding: 100px 0;
  }
}